.TodoInput {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 0.9rem;
    padding: 0 10px;
  border-radius: 0.3rem;
}
body.light .TodoInput {
    color:  #393a4c; /* dark divider */
  }
  
  /* Light Theme */
  body.dark .TodoInput {
    color: #cacde8; /* soft gray divider for light mode */
  }
  .InputCheckbox{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    
  }
  /* Circle */
  .Checkmark {
    margin-right: 16px;
    width: 25px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: inline-block;
    transition: all 0.3s ease;
    flex-shrink: 0;
  }
  